
<div class="row justify-content-center my-5">
  <div class="col-sm-6">
    <div class="titulo">
      <h1> Registro de usuario </h1>
    </div>
    <div class = "formulario">
      <div *ngIf="!activarMsg">
        <form #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)" (ngSubmit)="validacion()"  >
    
          <label name="nombreUsuario" for="nombreUsuario" class="form-label">Nombre de usuario:</label>
          <input name="nombre" type="text" id="nombre" placeholder="Ingrese su nombre de usuario" class="form-control" ngModel/>
    
          <label name="emailUsuario" for="emailUsuario" class="form-label">Correo electronico:</label>
          <input name="email" type="text" id="email" placeholder="Ingrese su correo electronico" class="form-control" ngModel/>
          
          <label name="passwordUsuario" for="passwordUsuario" class="form-label">Contraseña:</label>
          <input name="password" type="text" id="password" placeholder="Ingrese su contraseña" class="form-control" ngModel/>
    
          <button type="submit" class="btn btn-outline-success my-5" >Registrarse</button>
        </form>
      </div>
    </div>

    <div *ngIf="activarMsg">
      <div class="alert alert-success" role="alert">
        <h4 class="alert-heading"></h4>
        <p>Usuario creado exitosamente!</p>
        <p class="mb-0"></p>
      </div>
      <button type="submit" class="btn btn-primary my-5" [routerLink]="['/home']" >Continuar</button>
    </div>

  </div>
</div>
