
 
<div class="row justify-content-center my-5">
  <div class="col-sm-6">
    <div class="titulo">
      <h1> Registro de usuario </h1>
    </div>
    <div class = "formulario">
      <div *ngIf="!activarMsg"> 
        <form [formGroup]="contactForm"  #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)" (ngSubmit)="validacion()"  >
          
          <div class="form-group my-5">

            <label name="nombreUsuario" for="nombreUsuario" class="form-label">Nombre de usuario:</label>
            <input type="nombre" class="form-control" placeholder="Ingrese su nombre" formControlName="nombre" ngModel/> <!-- formControlName="nombre" -->
            <span class="error alert-danger" *ngIf="nombre!.invalid && nombre!.touched">Su nombre de usuario es requerido</span>
          </div>

          <div class="form-group my-5">
            
            <label name="emailUsuario" for="emailUsuario" class="form-label">Correo electronico:</label>
            <input type="email" class="form-control" placeholder="Ingrese su correo electrónico" formControlName="email" ngModel/> <!-- formControlName="email" -->
            <span class="error alert-danger" *ngIf="email!.invalid && email!.touched">Su correo electrónico es requerido</span>
          </div>
          
          <div class="form-group my-5">
            
            <label name="passwordUsuario" for="passwordUsuario" class="form-label">Contraseña:</label>
            <input type="password" class="form-control" placeholder="Ingrese su contraseña" formControlName="password" ngModel/>
            <span class="error alert-danger" *ngIf="password!.invalid && password!.touched">Su contraseña es requerida</span>
          </div>

          <!-- <div class ="captcha">
            <re-captcha (resolved)="resolved($event)" siteKey="6LfgfL8gAAAAAIU5Yvg1c5MndZBdwyi4MuYoSxJv"></re-captcha>
          </div> -->
          <div [hidden]="captcha">
            <re-captcha (resolved)="resolved($event)" siteKey="6LfgfL8gAAAAAIU5Yvg1c5MndZBdwyi4MuYoSxJv"></re-captcha>
          </div>

          <div [hidden]="!captcha">
            <button type="submit" class="btn btn-outline-success my-5" [disabled]="!contactForm.valid" >Registrarse</button> 
          </div>
        


        </form>
      </div>
    </div>

    <div *ngIf="activarMsg">
      <div class="alert alert-success" role="alert">
        <h4 class="alert-heading"></h4>
        <p>Usuario creado exitosamente!</p>
        <p class="mb-0"></p>
      </div>
      <button type="submit" class="btn btn-primary my-5" [routerLink]="['/home']" >Continuar</button>
    </div>



