  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">Promoviendo el bienestar de las personas</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">¡Nos importa tu salud!</h2>
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">
              <a href="#about" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Comenzar</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img img-fluid rounded-circle" data-aos="zoom-out" data-aos-delay="200">
          <img src="https://images.unsplash.com/photo-1513818433747-5f175a60caee?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=800&ixid=MnwxfDB8MXxyYW5kb218MHx8aW1nfHx8fHx8MTY1MTg4NjEyOA&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=800" class="img-fluid rounded-circle" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->