.semititulo{
    font-size: 28px;
}

img{
    width: 30%;
    padding: 30px;
}

.col-lg-12.mx-auto{
    text-align: center;
}

.preparacion{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}