<div class="row justify-content-center my-5">
  <div class="col-sm-6">
    <div *ngIf="!activarMsg">
      <form #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)" (ngSubmit)="validacion()">

        <label name="nombreComida" for="nombreComida" class="form-label">Comida:</label>
        <input name="nombre" type="text" id="nombreComida" placeholder="Ingrese el nombre de la comida"
          class="form-control" ngModel />

        <label name="categoriaComida" for="categoriaComida" class="form-label">Categoria:</label>
        <input name="categoria" type="text" id="categoriaComida" placeholder="Ingrese la categoría" class="form-control"
          ngModel />


        <label name="urlComida" for="urlComida" class="form-label">URL:</label>
        <input name="url" type="text" id="urlComida" placeholder="Ingrese la URL de la imagen" class="form-control"
          ngModel />

        <button type="submit" class="btn btn-outline-success my-5">Agregar</button>
      </form>
    </div>
  </div>
</div>

<div class="success" *ngIf="activarMsg">
  <div class="alert alert-success" role="alert">
    <h4 class="alert-heading"></h4>
    <p>Receta creada exitosamente!</p>
    <p class="mb-0"></p>
  </div>
  <button type="submit" class="btn btn-primary my-5" [routerLink]="['/recetas']">Continuar</button>
</div>