<div class="row py-5">
    <div class="col-lg-12 mx-auto">
        <h1 class="display-4">Nombre de la rutina</h1>
    </div>
</div>

<div class="center">
    <div class="col-lg-12 mx-auto">
        <p class="semititulo">Descripcion de la rutina</p>
        <p class="semititulo">Intensidades</p>
        <div class="row">
            <div class="column" style="background-color:rgb(218, 218, 218);">
              <h5>Intensidad baja</h5>
              <p>Texto texto</p>
            </div>
            <div class="column" style="background-color:rgb(228, 228, 228);">
              <h5>Intensidad media</h5>
              <p>Texto texto</p>
            </div>
            <div class="column" style="background-color:rgb(218, 218, 218);">
              <h5>Intensidad alta</h5>
              <p>Texto texto</p>
            </div>
          </div>
        <div>
            <img src="https://cdn.5dias.com.py/uploads/1366_2000_%2811%29.jpeg">
        </div>
        <div class="preparacion">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci assumenda est facere corrupti? Amet officia quae hic? Omnis ipsum distinctio exercitationem illum obcaecati, enim excepturi, sunt cum voluptas in alias.Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci assumenda est facere corrupti? Amet officia quae hic? Omnis ipsum distinctio exercitationem illum obcaecati, enim excepturi, sunt cum voluptas in alias.Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci assumenda est facere corrupti? Amet officia quae hic? Omnis ipsum distinctio exercitationem illum obcaecati, enim excepturi, sunt cum voluptas in alias.</p>
        </div>
    </div>
</div>