<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg" class="img-fluid"
          alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <div class="row justify-content-center my-5">
          <div class="col-lg-6">
            <div *ngIf="!activarMsg">
              <form [formGroup]="formulario" (ngSubmit)="validacion()" novalidate>
                <div class="form-floating my-5">
                  <input name="email" type="text" formControlName="email" id="email" placeholder="Ingrese su correo" class="form-control"/>
                  <label name="email" for="email" class="form-label">Correo Electronico</label>
                  <div *ngIf="formulario.controls['email'].invalid && (formulario.controls['email'].dirty || formulario.controls['email'].touched)" class="alert alert-danger">
                    *Obligatorio
                  </div>
                </div>
                <div class="form-floating my-5">
                  <input name="contraseña" type="text" formControlName="contraseña" id="contraseña" placeholder="Ingrese su Contraseña" class="form-control"/>
                  <label name="contraseña" for="contraseña" >Contraseña</label>
                  <div *ngIf="formulario.controls['contraseña'].invalid && (formulario.controls['contraseña'].dirty || formulario.controls['contraseña'].touched)" class="alert alert-danger">
                    *Obligatorio
                  </div>
                </div>
                <button type="submit" class="btn btn-outline-success my-5" [disabled]="!formulario.valid">Enviar</button>
              </form>
            </div>

            <div *ngIf="activarMsg">
              Datos Recibidos Exitosamente
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>