body {
    background: #f4f4f4;
  }
  
  .banner {
    background: #085006;
    background: -webkit-linear-gradient(to right, #62ff19, #a1ff25, #e0e410);
    background: linear-gradient(to right, #205809, #44990e, #4ccf10);
  }

.img-fluid{
  width: 100%;
  height: 250.66px;
  object-fit: cover;
}

.btn{
  padding: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.fas{
  cursor: pointer;
  margin-left: 7px;
}
